[core]
    autocrlf = input
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[alias]
    pm = pull --rebase --autostash
    st = status
    last = log -n 1
    recent = log -n 5 --pretty='format:%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr)%Creset <%an> (%G?)'
    amend = commit --amend --no-edit
    stl = stash list
    stp = stash pop
    sts = stash save -u
    sta = stash apply
    std = stash drop
    unstage = reset HEAD
    undo = !git reset --hard HEAD && git clean -fd
    scmt = commit -S
    br = branch
    bn = branch -m
    co = checkout
    cot = checkout --track
    nb = !git co -t $(git branch --show-current) -b
    bd = branch -D
    update = !git fetch origin $(git branch --show-current) && git rebase origin/$(git branch --show-current) --autostash
    update2 = !git fetch origin main && git rebase origin/main --autostash
    sign = commit -S --amend --no-edit
    up = !git push origin $(git branch --show-current) --force
    hk = !git remote prune origin
    cp = cherry-pick
    cprb = "!f() { git co $2 && git bn tmp-branch && git co $1 && git co -b $2 && git cp $(git log --format=\"%H\" -n 1 tmp-branch) && git bd tmp-branch; }; f"

