theme = dark:Catppuccin Mocha,light:Apple System Colors Light
cursor-style = block
shell-integration-features = no-cursor
working-directory = home
font-feature = -calt
macos-icon = retro

################################################################################
## window sizing
################################################################################
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true
window-width = 185
window-height= 50

################################################################################
## shortcuts
################################################################################

# opens a new tab in the same directory
keybind = F1=new_tab

# automatic split
keybind = F4=new_split:auto

# split horizontally
keybind = F5=new_split:down

# split vertically
keybind = F6=new_split:right

# resize panel
keybind = ctrl+shift+up=resize_split:up,5
keybind = ctrl+shift+down=resize_split:down,5
keybind = ctrl+shift+left=resize_split:left,5
keybind = ctrl+shift+right=resize_split:right,5

# send the line feed that tmux expects for shift+enter
keybind = shift+enter=text:\x0a

