<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tagus.detect-dark-mode</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/sugat/.dotfiles/logs/detect-dark-mode.stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/sugat/.dotfiles/logs/detect-dark-mode.stdout.log</string>
    <key>ProgramArguments</key>
    <array>
       <string>/Users/sugat/.dotfiles/bin/detect-dark-mode</string>
       <string>/usr/local/bin/kitty</string>
       <string>+kitten</string>
       <string>kittens/update_theme</string>
    </array>
</dict>
</plist>
